<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
            <!--md-icon md-svg-icon="img/icons/menu.svg"></md-icon-->
        </md-button>

        <h2 flex md-truncate>Reporting Home</h2>

        <span flex></span>
        <!--md-button class="md-icon-button test-tooltip" aria-label="New">
            <md-tooltip md-direction="left">Refresh</md-tooltip>
            <a href="#!/reqinst">
            <md-icon md-svg-src="img/icons/ic_open_in_new_white_24px.svg"
                     style="width: 24px; height: 24px">
            </md-icon></a>
        </md-button-->
    </div>
</md-toolbar>
<md-content>
    <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
        <md-card-actions layout="row" layout-align="center">
            <p> Welcome to ATMECS Project Reporting through ALEXA</p>
        </md-card-actions>
    </md-card>
</md-content>