<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
            <!--md-icon md-svg-icon="img/icons/menu.svg"></md-icon-->
        </md-button>

        <h2 flex md-truncate>Project Details</h2>

        <span flex></span>
        <span ng-show="currentUser">
		     <!--a href="#!logout" ng-click="logout()">Logout</a-->

             <md-button class="md-icon-button test-tooltip" aria-label="logout" ng-click="logout()">
                <md-tooltip md-direction="bottom">Logout</md-tooltip>
                    <md-icon md-svg-src="img/icons/ic_exit_to_app_white_24px.svg"
                             style="width: 24px; height: 24px">
                    </md-icon>
             </md-button>
		   </span>
    </div>
</md-toolbar>
<md-content layout-padding layout-margin="6px">

    <h3>Welcome back, {{ currentUser.data.username }}</h3>
    <form name="projectForm">

    <div ng-repeat="project in projects" ng-include="getTemplate(project)">
    </div>
        <script type="text/ng-template" id="display">
            <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
                <md-card-content layout="row">
                    <h3>{{ project.projectname }}</h3>
                    <span flex></span>
                    <p>{{ project.pstatus }}</p>
                    <md-button class="md-accent md-raised" ng-click="detail(project.projectname)">Tasks</md-button>
                    <md-button class="md-accent md-raised" ng-click="editparam(project)">Edit</md-button>
                </md-card-content>
            </md-card>
        </script>
        <script type="text/ng-template" id="edit">
            <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
                <md-card-content layout="row">
                    <h3>{{ project.projectname }}</h3>
                    <span flex></span>
                    <md-select ng-model="project.status" aria-label={{project.projectname}}>
                        <md-option ng-repeat="status in statuses" value="{{status.color}}" ng-selected="status.color == project.pstatus">{{ status.color }}</md-option>
                    </md-select>
                    <md-button class="md-primary md-raised" ng-click="updatevalue(project)">Save</md-button>
                    <md-button class="md-primary md-raised" ng-click="reset()">Cancel</md-button>
                </md-card-content>
            </md-card>
        </script>


    </form>
</md-content>

